@import "tailwindcss";

:root {
  /* primary */
  --primary: hsl(25, 97%, 53%);

  /* neutral */
  --white: hsl(0, 100%, 100%);
  --grey: hsl(217, 12%, 63%);
  --grey-blue: hsl(213, 19%, 18%);
  --grey-dark: hsl(216, 12%, 8%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    font-size: clamp(0.8em, 0.4em + 3vw, 3em);
  }
  body {
    font-family: "Overpass", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    @apply bg-(--grey-dark) text-(--grey);
  }

  h1 {
    @apply text-(--white);
    font-weight: 700;
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }
  input[type="radio"] {
    appearance: none;
  }
  input[type="radio"]:checked {
    @apply bg-(--white) text-(--grey-blue);
  }
}

@layer components {
  .card {
    @apply rounded-xl bg-(--grey-blue) max-w-[20rem] flex flex-col items-start gap-3 p-5 m-auto;
  }

  .btn {
    @apply rounded-full;
  }

  .btn-radio {
    @apply bg-(--grey-dark)/25 size-9 text-[.9rem];
  }
}
