@import "tailwindcss";

:root {
  /* primary */
  --primary: #fb7413;

  /* neutral */
  --white: hsl(0, 100%, 100%);
  --grey: hsl(217, 12%, 63%);
  --grey-blue: hsl(213, 19%, 18%);
  --grey-dark: hsl(216, 12%, 8%);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  html {
    font-size: clamp(1.2em, 0.2em + 1.8vw, 2em);
  }
  body {
    font-family: "Overpass", system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;
    @apply bg-(--grey-dark) text-(--grey);
  }

  h1 {
    @apply text-(--white);
    font-weight: 700;
    font-size: 1.2rem;
  }

  p {
    font-size: 0.8rem;
  }
  fieldset input[type="radio"] {
    appearance: none;
    cursor: pointer;
  }
}

@layer components {
  .card {
    @apply rounded-xl bg-(--grey-blue) max-w-[20rem] flex flex-col m-auto bg-gradient-to-b from-(--grey-blue) to-(--grey-dark)/50;
  }
  .rating {
    @apply items-start gap-3 p-5;
  }

  .btn {
    @apply rounded-full focus:outline-(--primary) focus:outline-1;
  }

  .btn-radio {
    @apply bg-(--grey-dark)/25 size-9 text-[.9rem] has-checked:bg-(--white) has-checked:text-(--grey-dark) cursor-pointer;
  }
}
